_references
_resources
.vagrant
admin.conf
join.sh
2019/05/ndcminnesota/Ticketing/
ProgNET2017/HelloGalaxy/obj/HelloGalaxy.csproj.nuget.g.props
ProgNET2017/HelloGalaxy/obj/HelloGalaxy.csproj.nuget.cache
Vagrantfile